A
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 11px;
    COLOR: blue;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
BODY
{
    SCROLLBAR-FACE-COLOR: silver;
    SCROLLBAR-HIGHLIGHT-COLOR: silver;
    SCROLLBAR-SHADOW-COLOR: silver;
    SCROLLBAR-3DLIGHT-COLOR: silver;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #dddddd;
    SCROLLBAR-DARKSHADOW-COLOR: silver
}
.verdana
{
    FONT-SIZE: 11px;
    FONT-FAMILY: verdana
}
FONT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: verdana
}
P
{
    FONT-SIZE: 11px;
    FONT-FAMILY: verdana
}
PRE
{
    FONT-SIZE: 11px;
    FONT-FAMILY: verdana
}
.verdana_s
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: verdana
}
.buttonPE
{
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
    BORDER-LEFT: white 1px solid;
    WIDTH: 18px;
    COLOR: slategray;
    BORDER-BOTTOM: white 1px solid;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #d0d0d0
}
.buttonPD
{
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
    BORDER-LEFT: white 1px solid;
    WIDTH: 18px;
    COLOR: silver;
    BORDER-BOTTOM: white 1px solid;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #d0d0d0
}
TD
{
    FONT-SIZE: 11px;
    LINE-HEIGHT: 150%;
    FONT-FAMILY: verdana
}
INPUT
{
    BORDER-RIGHT: silver 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: silver 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: silver 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: verdana
}
H3
{
    FONT-SIZE: 15px;
    FONT-FAMILY: verdana
}

.errata
{
	COLOR: royalblue;
    TEXT-DECORATION:underline;
}

.Code
{
	padding : 10px;
	BACKGROUND-COLOR: #efefef
}